<p id="notice"><%= notice %></p>

<h1>Blood Donates</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Blood request</th>
      <th>Donate date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blood_donates.each do |blood_donate| %>
      <tr>
        <td><%= blood_donate.user %></td>
        <td><%= blood_donate.blood_request %></td>
        <td><%= blood_donate.donate_date %></td>
        <td><%= link_to 'Show', blood_donate %></td>
        <td><%= link_to 'Edit', edit_blood_donate_path(blood_donate) %></td>
        <td><%= link_to 'Destroy', blood_donate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blood Donate', new_blood_donate_path %>
