
<%= form_with(model: blood_request, remote: true) do |form| %>
  <% if blood_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blood_request.errors.count, "error") %> prohibited this blood_request from being saved:</h2>

      <ul>
      <% blood_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="row">
    <div class="form-group col-md-6">
    <%= form.label :patient_name %>
    <%= form.text_field :patient_name, id: :blood_request_patient_name , class: "form-control", placeholder: "Patient Name*", :required => true%>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :blood_group %>
    <%= form.select(:blood_group, [ "O+ve", "O-ve", "A+ve","A-ve","B+ve","B-ve","AB+ve","AB-ve"], { :prompt => 'Select Blood Group'}, { :class => 'form-control',:required => true }) %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :hospital_name %>
    <%= form.text_field :hospital_name, id: :blood_request_hospital_name,class: "form-control", placeholder: "Hospital Name" %>
  </div>

  <div class="form-group col-md-6">
     <%= form.label :city %><br />
     <%= form.select(:city, [ "kathmandu", "Bhaktapur", "Lalitpur"], { :prompt => 'Select City'}, { :class => 'form-control' }) %>
    </div>

  <div class="form-group col-md-6">
    <%= form.label :address %>
    <%= form.text_field :address, id: :blood_request_address,class: "form-control", placeholder: "Address*", :required => true %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :contact_name %>
    <%= form.text_field :contact_name, id: :blood_request_contact_name ,class: "form-control", placeholder: "Contact Name*", :required => true %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :email %>
    <%= form.email_field :email, id: :blood_request_email,class: "form-control", placeholder: "Email*", :required => true %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :phone %>
    <%= form.telephone_field :phone, id: :blood_request_phone,class: "form-control", placeholder: "Phone*", :required => true %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :required_date %>
    <%= form.date_field :required_date, id: :blood_request_required_date ,class: "form-control hasDatepicker", placeholder: " Required Date*", :required => true%>
  </div>

  <div class="form-group col-md-6">
    <br/>
    <%= form.submit "Send Request", class: "form-control btn btn-form" %>
  </div>
</div>
<% end %>
