<p id="notice"><%= notice %></p>

<p>
  <strong>Patient name:</strong>
  <%= @blood_request.patient_name %>
</p>

<p>
  <strong>Blood group:</strong>
  <%= @blood_request.blood_group %>
</p>

<p>
  <strong>Hospital name:</strong>
  <%= @blood_request.hospital_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @blood_request.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @blood_request.address %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @blood_request.contact_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @blood_request.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @blood_request.phone %>
</p>

<p>
  <strong>Required date:</strong>
  <%= @blood_request.required_date %>
</p>

<%= link_to 'Edit', edit_blood_request_path(@blood_request) %> |
<%= link_to 'Back', blood_requests_path %>
