<%= form_with(model: user_query, remote: true) do |form| %>
  <% if user_query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_query.errors.count, "error") %> prohibited this user_query from being saved:</h2>

      <ul>
      <% user_query.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label :full_name %>
      <%= form.text_field :full_name, id: :user_query_full_name, class: "form-control", placeholder: "Full Name*", :required => true %>
    </div>
  

    <div class="form-group col-md-6">
      <%= form.label :email %>
      <%= form.text_field :email, id: :user_query_email, class: "form-control", placeholder: "Email*", :required => true %>
    </div>
  </div>

<div class="row">
    <div class="form-group col-md-6">
    <%= form.label :phone_no %>
    <%= form.text_field :phone_no, id: :user_query_phone_no, class: "form-control", placeholder: "Phone no.*", :required => true %>
  </div>

    <div class="form-group col-md-6">
    <%= form.label :address %>
    <%= form.text_field :address, id: :user_query_address, class: "form-control", placeholder: "Address*", :required => true %>
  </div>
</div>

   <div class="form-group">
    <%= form.label :subject %>
     
     <%= form.select(:subject, [ "Helplineve", "Marketing", "Others"], { :prompt => 'Select Subject'}, { :class => 'form-control' }) %>

  </div>

   <div class="form-group">
    <%= form.label :message %>
    <%= form.text_area :message, id: :user_query_message, class: "form-control",rows: "5", placeholder: "Drop Your Message*", :required => true %>
  </div>

   <div class="form-group">
    <%= form.submit "Send Message", class: "form-control btn btn-form pull-right" %>
  </div>
  <div class="clearfix"></div>
<% end %>
