<p id="notice"><%= notice %></p>

<h1>User Queries</h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Email</th>
      <th>Phone no</th>
      <th>Address</th>
      <th>Subject</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_queries.each do |user_query| %>
      <tr>
        <td><%= user_query.full_name %></td>
        <td><%= user_query.email %></td>
        <td><%= user_query.phone_no %></td>
        <td><%= user_query.address %></td>
        <td><%= user_query.subject %></td>
        <td><%= user_query.message %></td>
        <td><%= link_to 'Show', user_query %></td>
        <td><%= link_to 'Edit', edit_user_query_path(user_query) %></td>
        <td><%= link_to 'Destroy', user_query, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Query', new_user_query_path %>
